
body {
    font-family: 'Inter', sans-serif;
    background: #418252;
    color: #1f3d1f;
    margin: 20px ;

}

/*==========login============

body {
   
    font-family: Arial, sans-serif;
}


.login-page {
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}


.login-box {
    width: 320px;
    padding: 30px;
    position: absolute;
    right: 200px;
    top: 40%;
    transform: translateY(-50%);

    background: #RRGGBB;
    backdrop-filter: blur(10px);

    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


.login-box h2 {
    color: #e3f0d6;
    margin-bottom: 20px;
}


.login-box input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;

    border: none;
    border-radius: 5px;
}


.login-box button {
    width: 87%;
    padding: 10px;
    background: #4CAF50;

    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    background: #3e8e41;
}
*/
/*============logo===========*/
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

/*for the ecomart text*/

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #206615;
}


/*Navigation button*/
.nav-links a {
    margin-left: 20px;
    color: #1f3d1f;
    font-weight: 500;
    text-decoration-line: none;
}

/* ================ NAVBAR ================*/

.navbar {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;
    padding: 15px 40px;
    background-color: #e3f0d6; 
  
}




/* =============Section============= */

.section{   
            padding-left: 10%;
            padding: 10px;
            background-color: #d5f0bb; 
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
}

.image
        {
            padding-left: 20%;
            width: 70%;  
}

.image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    padding-right: 10px;
}



/* ================= FOOTER ================= */
footer {
    background: #235430;
    color: white;
    padding: 20px 40px;
}

.footer-grid {
    display: grid;         /*Turns the element into css grid container*/
    grid-template-columns: 1fr 2fr 1fr;      /*Creates width of the columns*/
    gap: 40px;
}

.footer-text{
    color: white;
    font-weight: bold;
}

footer a
{
    color: white;
    font-weight: bold;
    text-decoration-line: none;
    display: block;

}

footer h4 {
    margin-bottom: 10px;
}

